aiohttp==3.7.4
aiojobs==0.3.0
aioschedule==0.5.2
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
discord.py==1.6.0
feedparser==6.0.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
lxml==4.6.2
markdownify==0.6.1
mccabe==0.6.1
multidict==4.7.6
opml==0.5
pep8==1.7.1
praw==7.1.0
prawcore==1.5.0
pycodestyle==2.6.0
pylint==2.6.0
python-dotenv==0.15.0
requests==2.25.1
schedule==0.6.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
update-checker==0.18.0
urllib3==1.26.3
websocket-client==0.57.0
wrapt==1.12.1
yarl==1.5.1
